## @param wordpressPassword WordPress user password
## Defaults to a random 10-character alphanumeric string if not set
##
wordpressPassword: {{ requiredEnv "WORDPRESS_PASSWORD" }}
mariadb:
  enabled: true
  auth:
    rootPassword: {{ requiredEnv "WORDPRESS_MARIADB_ROOT_PASSWORD" }}
    database: bitnami_wordpress
    username: bn_wordpress
    password: {{ requiredEnv "WORDPRESS_MARIADB_PASSWORD" }}
